body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0057b7;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

header img {
    max-width: 150px;
}

#legenda {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.legend-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

#disciplinas-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.semestre {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.semestre h3 {
    margin-top: 0;
    text-align: center;
    color: #0057b7;
}

.semestre button {
    background-color: #0057b7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.semestre button:hover {
    background-color: #003f88;
}

.disciplina {
    padding: 20px;
    margin: 5px 0;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.disciplina.concluida {
    background-color: green;
    color: #fff;
}

.disciplina.pode-fazer {
    background-color: blue;
    color: #fff;
}

.disciplina.nao-pode-fazer {
    background-color: red;
    color: #fff;
}
