body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#legenda {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.legend-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

#disciplinas-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.semestre {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.disciplina {
    padding: 20px; /* Aumentado de 10px para 20px */
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.disciplina.concluida {
    background-color: green;
    color: #fff;
}

.disciplina.pode-fazer {
    background-color: blue;
    color: #fff;
}

.disciplina.nao-pode-fazer {
    background-color: red;
    color: #fff;
}
